@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background: #ffffff;
  font-size: 18px;
  line-height:118%;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background: #ffffff;
  color: #000000;
}
.navigation-link {
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-align: center;
}
.navigation-link-search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  display:block;
  width: 20px;
  height:20px;
}

.navigation-link-favorites {
  background-image: url("../images/like.svg");
  background-repeat: no-repeat;
  display:block;
  width: 20px;
  height:20px;
}

.hero {
  font-size: 0;
  text-align: center;
}

.about-town-title {
font-size: 30px;
line-height:120%;
text-align: center;
text-transform: uppercase

}
.about-town-reasons {
font-size: 22px;
text-align: center;
}

.advantages-item {
display: inline-flex;
justify-content: center;
align-items: center;
text-align: center;
}
.caption-town {
  width:400px;
  height:385px;
  background: #82B3D3;
  color:#ffffff;

}
.advantages-title-town{
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
}

.caption-bridge{
  width:400px;
  height:385px;
  background: #82B3D3;
  color:#ffffff;
}
.advantages-title-bridge {
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
}

.caption-area{
  width:400px;
  height:385px;
  background: rgba(131, 179, 211, 0.12);
  margin-right: auto;

}
.advantages-title-area{
  text-transform: uppercase;
}
.caption-road {
  width:400px;
  height:385px;
  background: rgba(131, 179, 211, 0.2);
}
 .advantages-title-road {
  text-transform: uppercase;
 }
.caption-tourist{
  width:400px;
  height:385px;
  background: rgba(131, 179, 211, 0.12);
  margin-left: auto;
}
.advantages-title-tourist{
  text-transform: uppercase;
}
